* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));

  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  background-color: darkgray;
  text-align: center;
}
